@model SeedaniLegalCare.Models.Client
@{
    ViewBag.Title = @Model.Client_Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        table tr td {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
        }

        .center {
            text-align: center;
        }

        .profile-pic {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        table tr td label {
            padding: 0 !important;
            margin: 0 !important;
        }

        .name {
            font-weight: bold;
            color: #2A2A2A;
            font-size: 18px;
        }

        .role {
            display: block;
            line-height: 0.5;
            color: #AFA939;
            font-weight: 500;
            font-size: 16px;
        }



        .lbl-head label, .lbl-head {
            color: #AFA939;
            font-weight: 500;
        }

        .data {
            display: block;
            line-height: 1;
            color: black;
            font-weight: normal;
        }
    </style>
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">My Profile</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("index", "Home")">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>My Profile <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pt-5 pb-5" style="background-color: #F8F9FA;">
                <table style="margin: 0 auto !important; ">
                    <tr>
                        <td colspan="2" class="center"><img class="profile-pic rounded-circle mb-4" src="~/images/person_2.jpg" width="200" height="200" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="center">
                            <label class="name mb-4">@Model.Client_Name</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="lbl-head"><label>Gender: </label></td>
                        <td class="pl-3">@Model.Client_Gender</td>
                    </tr>
                    <tr>
                        <td class="lbl-head"><label>Email: </label></td>
                        <td class="pl-3">@Model.Client_Email</td>
                    </tr>
                    <tr>
                        <td class="lbl-head"><label>Country: </label></td>
                        <td class="pl-3">@Model.Client_Country</td>
                    </tr>
                    <tr>
                        <td class="lbl-head"><label>City: </label></td>
                        <td class="pl-3">@Model.Client_City</td>
                    </tr>
                    <tr>
                        <td class="lbl-head"><label>Contact: </label></td>
                        <td class="pl-3">@Model.Client_Number</td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
</section>

<script>
    ScrollWindow();

    function ScrollWindow() {
        $("html, body").animate({ scrollTop: 650 }, 600);
    }
</script>